.map,
.map__container
{
    display: block;

    width: 100%;
    height: 100%;

    background: #ccc;
}

.map
{
    background: #ccc;
}

.map__userpic
{
    width: 75px;
}

.map__image
{
    width: 150px;
}

.map__zoom-button
{
    font-size: 18px;

    margin: 5px 0 7px;
    padding: 2px 10px;

    cursor: pointer;
    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    color: #000;
    border-radius: 4px;
    background: rgba(250, 250, 255, .65);
}

.map__zoom-button:hover
{
    background: rgba(250, 250, 255, .9);
}

.map__zoom-button_type_out
{
    padding: 1px 10px 3px;
}
