.select
{
    font-weight: 300;

    position: relative;

    display: inline-block;

    margin-right: 8px;
    padding: 0;

    cursor: pointer;
    vertical-align: top;
    white-space: nowrap;

    border: 1px solid #ddd;
    border-radius: 3px;
    background: rgba(255,255,255,.6);
}

.select:hover
{
    border-color: #c3c3c3;
}

.select__text
{
    display: inline;
}

.select__content
{
    position: absolute;
    z-index: 10;
    top: 100%;

    visibility: hidden;
    overflow: hidden;

    min-width: 100%;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    opacity: 0;
    border-radius: 3px;
    background: rgba(255, 255, 255, .97);
    box-shadow: 0 0 0 1px #ddd;
}

.select_show_yes .select__content
{
    visibility: visible;

    margin-top: 2px;

    opacity: 1;
}

.select__button
{
    padding: 2px 20px 4px 7px;
}

.select__button:after
{
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 7px;

    width: 0;
    height: 0;
    margin-top: -2px;

    content: '';

    color: #444;
    border-width: 6px 4px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.select_show_yes .select__button:after
{
    top: 5px;

    border-color: transparent transparent #000 transparent;
}

.select_show_yes .select__button
{
    background: rgba(215,217,220,.35);
    box-shadow: 0 0 3px rgba(220,220,220,.5) inset;
}

.select__item
{
    display: block;
    overflow: hidden;

    max-width: 315px;
    padding: 6px 7px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.select__item.link
{
    color: #000;
    border: 0;
}

.select__item:hover
{
    color: #007aff;
    background: #f3f3f3;
}

.select__item_type_last
{
    border-top: 1px solid #ddd !important;
    background: #f3f3f3;
}
