@font-face {
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/fontello.eot?13823947');
    src: url('fonts/fontello.eot?13823947#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?13823947') format('woff'),
       url('fonts/fontello.ttf?13823947') format('truetype'),
       url('fonts/fontello.svg?13823947#fontello') format('svg');
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?13823947#fontello') format('svg');
  }
}
*/

[class^='icon_type_']:before, [class*=' icon_type_']:before
{
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
  /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    display: inline-block;

    width: 1em;
    margin-right: .2em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
    margin-left: .2em;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    speak: none;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon_type_lock:before
{
    content: '\e800';
} /* '' */
.icon_type_comment:before
{
    content: '\e801';
} /* '' */
.icon_type_vk:before
{
    content: '\e802';
} /* '' */
.icon_type_users:before
{
    content: '\e803';
} /* '' */
.icon_type_date:before
{
    content: '\e804';
} /* '' */
.icon_type_update:before
{
    content: '\e805';
} /* '' */
.icon_type_like:before
{
    content: '\e806';
} /* '' */
.icon_type_video:before
{
    content: '\e807';
} /* '' */
.icon_type_plus:before
{
    content: '\e808';
} /* '' */
.icon_type_home:before
{
    content: '\e809';
} /* '' */
.icon_type_profile:before
{
    content: '\e80a';
} /* '' */
.icon_type_location:before
{
    content: '\e80c';
} /* '' */
.icon_type_star:before
{
    content: '\e80d';
} /* '' */
.icon_type_ok:before
{
    content: '\e80f';
} /* '' */
.icon_type_fail:before
{
    content: '\e811';
} /* '' */
.icon_type_save:before
{
    content: '\e812';
} /* '' */
