.profile
{
    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 960px;
    height: 120px;
    padding: 9px 25px 0 15px;

    text-align: right;
    white-space: nowrap;

    background: #f3f5f8;
}

.profile_visibility_hidden
{
    display: none;
}

.profile__inner,
.profile__stats
{
    display: inline-block;

    vertical-align: top;
}

.profile__user
{
    display: inline-block;

    width: 79%;

    text-align: left;
}

.profile__stats
{
    display: inline-block;

    width: 20%;

    text-align: right;
}

.profile__avatar
{
    position: relative;

    display: inline-block;

    width: 100px;
    height: 100px;
    margin-right: 30px;

    border-radius: 50%;
    background-color: #e6e6e6;
    background-size: 100%;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
}

.profile__avatar:after
{
    position: absolute;
    top: 0;
    right: -15px;

    width: 1px;
    height: 100px;

    content: '';

    background: rgba(0, 0, 0, .15);
}

.profile__info
{
    display: inline-block;

    margin-top: -5px;

    vertical-align: top;
}

.profile__open-off
{
    font-size: 12px;

    display: inline-block;

    margin-left: 15px;

    vertical-align: middle;
}

@-moz-document url-prefix()
{
    .profile__info
    {
        margin-top: -6px;
    }
}

.profile__name
{
    font-size: 18px;

    display: inline-block;

    margin-bottom: 5px;
}

.profile__bio
{
    margin-bottom: 7px;

    color: #777;
}

.profile__full-name,
.profile__description
{
    display: inline-block;

    vertical-align: top;
}

.profile__full-name
{
    font-weight: 600;

    padding-right: 3px;

    color: #333;
}

.profile__links .link
{
    display: inline-block;

    margin-right: 8px;
}

.profile__description
{
    overflow: hidden;

    max-width: 470px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile__button
{
    font-weight: 300;

    display: inline-block;

    margin: 6px 0 0;
    padding: 4px 12px 5px;

    cursor: pointer;
    -webkit-transition: .2s;
       -moz-transition: .2s;
        -ms-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, .1) inset;
            box-shadow: 0 -2px rgba(0, 0, 0, .1) inset;
}

.profile__button:hover
{
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, .25) inset;
            box-shadow: 0 -2px rgba(0, 0, 0, .25) inset;
}

.profile__button:active
{
    opacity: .9;
}

.profile__button_type_follow
{
    background: #72a9d8;
}

.profile__button_followed_yes
{
    background: #66d882;
}

.profile__button_type_exit
{
    background: #8e959e;
}

.profile__stats-item
{
    padding: 7px 0;
}

.profile__stats-item_active_yes .link
{
    color: #777;
    border-bottom: none;
}

.profile__stats-count,
.profile__stats-text
{
    display: inline-block;

    vertical-align: top;
}

.profile__stats-count
{
    font-size: 16px;

    margin: -2px 3px 0 5px;
}

.profile_type_private
{
    text-align: center;
}

.profile__lock
{
    font-size: 50px;
}

.profile__notice
{
    font-size: 16px;
}
