.paranja
{
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
    -webkit-transition: .3s;
       -moz-transition: .3s;
            transition: .3s;

    background: rgba(0, 0, 0, .7);
}

.paranja_show_yes
{
    visibility: visible;

    opacity: 1;
}

.paranja_theme_light
{
    cursor: default;

    background: transparent;
}
