.feed-list
{
    position: relative;

    overflow-x: hidden;
    overflow-y: auto;

    max-height: 925px;
}

.feed-list__inner
{
    width: 960px;
    padding: 10px 0 0 7px;
}

.ua_os_mac .feed-list__inner
{
    padding-left: 15px;
}

.feed-list__fade
{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: .4s;
       -moz-transition: .4s;
            transition: .4s;

    opacity: 0;
    background: #fff;
}

.feed-list__fade_visible
{
    visibility: visible;

    opacity: .8;
}
