.menu_type_header
{
    display: inline-block;

    margin: 1px 0 0 25px;

    vertical-align: middle;
}

.menu__olymp.select
{
    margin: 0 61px 0 -3px;

    vertical-align: middle;
}

.menu__item_type_olymp .menu__item-text
{
    color: #007aff;
}

.menu__item-text
{
    display: inline-block;

    vertical-align: middle;
}

.menu_type_header .icon
{
    font-size: 20px;

    display: inline-block;

    vertical-align: middle;
}

.menu_type_header .menu__item
{
    display: inline-block;
}

.menu_type_header .menu__item .link
{
    font-weight: 300;

    display: inline-block;

    padding: 6px 7px 7px;

    cursor: pointer;
    -webkit-transition: .15s;
       -moz-transition: .15s;
            transition: .15s;
    text-decoration: none;

    color: #a8b2be;
    border: 0;
}

.menu_type_header .menu__item .link:hover,
.menu_type_header .menu__item_active_yes .link
{
    color: #fff;
}

/* Иконки в шапке */

.menu_type_header .icon_type_home
{
    margin-right: 3px;
}

.menu_type_header .icon_type_star
{
    font-size: 22px;

    margin-top: -2px;
}

.menu_type_header .icon_type_answers
{
    font-size: 23px;

    margin: -2px 3px 0 0;
}

.menu_type_header .icon_type_like
{
    font-size: 21px;

    margin-top: 2px;
}

.menu_type_header .icon_type_profile
{
    margin-right: 5px;
}

.menu_type_header .icon_type_plus
{
    font-size: 19px;
}

.menu_type_header .menu__item_type_profile .link
{
    padding-right: 10px;
}

.menu_type_header .menu__item_type_self .link
{
    padding-right: 9px;
}

.menu__item_type_vk .icon_type_vk
{
    font-size: 21px;

    margin: -1px 3px 0 0;
}

.menu__item_type_ad .icon_type_catalog
{
    font-size: 15px;

    margin-right: 3px;
}

.icon_type_users
{
    margin-right: 3px;
}
