.people-search
{
    position: fixed;
    z-index: 3;

    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 960px;

    white-space: nowrap;

    background: #f3f5f8;
}

.people-search__control
{
    padding: 10px;
}

.people-search__input,
.people-search__button
{
    display: inline-block;

    vertical-align: top;
}

.people-search__input
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 93%;
}

.people-search__button
{
    font-size: 13px;

    margin-left: -2px;
    padding: 5px 12px 6px;

    cursor: pointer;

    color: #fff;
    border-radius: 0 2px 2px 0;
    background-color: #2463e4;
    background-image: -webkit-linear-gradient(top,#578bf5,#2463e4);
    background-image:    -moz-linear-gradient(top,#578bf5,#2463e4);
    background-image:      -o-linear-gradient(top,#578bf5,#2463e4);
    background-image:         linear-gradient(top,#578bf5,#2463e4);
}

.people-search__button:hover
{
    opacity: .95;
}

.people-search__button:active
{
    background: #2463e4;
}
