/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);*/

#vk_ads_56093
{
    position: fixed;
    bottom: 0;
}

.adv_pos_top
{
    position: fixed;
    z-index: 3;

    display: block;

    box-sizing: border-box;
    width: 960px;

    text-align: center;

    background: #fff;
}

.adv_pos_top a
{
    display: block;

    text-align: center;
}

.page
{
    font: 13px 'Open Sans', Helvetica, Arial, sans-serif;

    color: #444;
}

.page__inner
{
    position: relative;

    width: 960px;
    margin: auto;
}

.page_scroll_no
{
    overflow: hidden;
}

.content
{
    padding-top: 44px;
}

.paranja
{
    position: fixed;
    z-index: 9;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, .6);
}

.link
{
    -webkit-transition: .2s;
       -moz-transition: .2s;
            transition: .2s;
    text-decoration: none;

    color: #1d95da;
    border-bottom: 1px solid transparent;
}

.link:hover
{
    text-decoration: none;

    color: #f6527c;
    border-bottom: 1px solid #fba9c4;
}

.input
{
    display: inline-block;

    width: 100%;
    padding: 4px 6px 5px;

    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    outline: none;
    background: rgba(255,255,255,.7);
}

.input:focus
{
    border-color: rgba(0, 0, 0, .35);
}

.input_active_yes
{
    color: #007aff;
}

.like
{
    font-size: 70px;

    position: absolute;
    top: 0;
    left: 50%;

    visibility: hidden;

    margin-left: -61px;
    padding: 0 10px;

    cursor: pointer;
    -webkit-transition: .2s;
       -moz-transition: .2s;
            transition: .2s;

    opacity: 0;
    color: #fff;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

.like_liked_yes
{
    right: 155px;
}

.like_liked_yes:before
{
    color: #ff2d55;
}

.cf:before, .cf:after
{
    display: table;

    content: '';
}
.cf:after
{
    clear: both;
}

.error-text
{
    font-size: 15px;

    margin: 10px 0;

    text-align: center;

    color: #999;
}

.error-text_type_profile
{
    margin-top: 20px;
}

.error-alert
{
    font-size: 15px;

    position: fixed;
    z-index: 100;
    top: 30px;
    left: 50%;

    visibility: hidden;

    width: 300px;
    max-width: 300px;
    margin-left: -170px;
    padding: 20px;

    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
    text-align: center;

    opacity: 0;
    color: #fff;
    border-radius: 4px;
    background: #f76374;
}

.error-alert_visible
{
    top: 52px;

    visibility: visible;

    opacity: .8;
}

.hint:after
{
    font-size: 12px;
    font-weight: 400;

    position: absolute;
    z-index: 2;
    bottom: -28px;
    left: 0;

    visibility: hidden;
    overflow: hidden;

    max-width: 140px;
    padding: 2px 6px;

    content: attr(data-name);
    -webkit-transition: .5s;
       -moz-transition: .5s;
            transition: .5s;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;
    color: #fff;
    border-radius: 3px;
    background: rgba(0, 0, 0, .7);
}

.hint:hover:after
{
    visibility: visible;

    opacity: 1;
}

.wall-spinner
{
    width: 70px;
    margin: 135px auto 0;

    text-align: center;
}

.wall-spinner > div
{
    display: inline-block;

    width: 18px;
    height: 18px;

    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;

    border-radius: 100%;
    background-color: rgba(255, 255, 255, .8);

  /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.wall-spinner .wall-spinner__bounce1
{
    -webkit-animation-delay: -.32s;
            animation-delay: -.32s;
}

.wall-spinner .wall-spinner__bounce2
{
    -webkit-animation-delay: -.16s;
            animation-delay: -.16s;
}

@-webkit-keyframes bouncedelay
{
    0%, 80%, 100%
    {
        -webkit-transform: scale(.0);
    }
    40%
    {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncedelay
{
    0%, 80%, 100%
    {
        -webkit-transform: scale(.0);
                transform: scale(.0);
    }
    40%
    {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}
