.spinner
{
    position: fixed;
    z-index: 22;
    top: 250px;
    left: 50%;

    width: 40px;
    height: 40px;
    margin-left: -20px;

    -webkit-animation: scaleout 1.0s infinite ease-in-out;
            animation: scaleout 1.0s infinite ease-in-out;

    border-radius: 100%;
    background-color: #ccc;
}

@-webkit-keyframes scaleout
{
    0%
    {
        -webkit-transform: scale(.0);
    }
    100%
    {
        -webkit-transform: scale(1.0);

        opacity: 0;
    }
}

@keyframes scaleout
{
    0%
    {
        -webkit-transform: scale(.0);
                transform: scale(.0);
    }
    100%
    {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);

        opacity: 0;
    }
}
