.box
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 302px;
    height: 302px;
    margin: 0 4px 2px;

    background: #eee;
}

.box__likeicon_liked_yes
{
    color: #ff2d55;
}

.box__top-panel
{
    display: none;
}

.box__photo
{
    width: 302px;
    height: 302px;

    cursor: pointer;
}

.box__video
{
    font-size: 36px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -35px 0 0 -35px;
    padding: 10px 7px 10px 13px;

    cursor: pointer;
    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
    text-align: center;

    color: rgba(0, 0, 0, .85);
    background: rgba(250, 250, 255, .85);
}

.box__video:hover
{
    color: #000;
    background: #fafaff;
}

.box__like
{
    display: inline-block;
}

.box:hover .like:hover
{
    opacity: .8;
}

.box:hover .like
{
    top: 10px;

    visibility: visible;

    opacity: .65;
}

.box__save
{
    font-size: 22px;

    position: absolute;
    top: 4px;
    right: 12px;

    visibility: hidden;

    width: 30px;
    height: 30px;
    padding: 2px 3px 4px;

    cursor: pointer;
    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: 0;
    color: #fff;
    border-radius: 4px;
    background: rgba(0, 0, 0, .6);
}

.box:hover .box__save
{
    top: 10px;

    visibility: visible;

    opacity: .8;
}

.box:hover .box__save:hover
{
    opacity: 1;
}

.box:hover .box__bottom-panel
{
    bottom: 0;

    visibility: visible;

    opacity: 1;
}

.box__bottom-panel
{
    position: absolute;
    bottom: -5px;

    visibility: hidden;

    width: 97%;
    padding: 10px 5px 0;

    -webkit-transition: .3s;
       -moz-transition: .3s;
            transition: .3s;

    opacity: 0;
    background: rgba(0, 0, 0, .2);
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .50) 70%);
    background:    -moz-linear-gradient(transparent, rgba(0, 0, 0, .50) 70%);
    background:         linear-gradient(transparent, rgba(0, 0, 0, .50) 70%);
}

.box__user-pic
{
    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 8px;

    border-radius: 50%;
    background-color: rgba(0,0,0,.6);
    background-size: 100%;
}

.box__user-name
{
    margin: -3px 0 6px 2px;
}

.box__user-name .link
{
    display: inline-block;
    overflow: hidden;

    max-width: 240px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
}

.box__user-name .link:hover
{
    color: #fff;
    border-color: rgba(245,250,255,.5);
}

.box__user-activity
{
    display: inline-block;

    width: 240px;

    vertical-align: top;
}

.box__likes,
.box__comments
{
    display: inline-block;

    vertical-align: top;

    color: #fff;
}

.icon_type_like,
.icon_type_location
{
    -webkit-transform: translatez(0);
       -moz-transform: translatez(0);
        -ms-transform: translatez(0);
         -o-transform: translatez(0);
            transform: translatez(0);
}

.icon_type_like
{
    padding-right: 1px;
}

.box__likes .icon_type_like,
.box__comments .icon_type_comment,
.box__date .icon_type_date,
.box__comment-count,
.box__date-post,
.box__like-count,
.box__geo
{
    display: inline-block;
}

.box__comments .icon_type_comment
{
    font-size: 10px;

    padding: 0 3px 3px 0;

    vertical-align: middle;
}

.box__likes
{
    margin-right: 10px;
}

.box__date
{
    display: inline-block;
    float: right;

    margin-top: -1px;

    color: #fff;
}

.box__geo
{
    margin-left: 9px;

    color: #fff;
}

.box__wall-loader-wrap,
.box__wall-loader-ok,
.box__wall-loader-fail
{
    position: absolute;
    z-index: 2;
    top: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: 0;
}

.box__wall-loader-wrap
{
    background: rgba(0, 0, 0, .5);
}

.box__wall-loader-wrap_visible,
.box__wall-loader-ok_visible,
.box__wall-loader-fail_visible
{
    visibility: visible;

    opacity: 1;
}

.box__wall-loader-ok
{
    text-align: center;

    background: rgba(219, 244, 215, .5);
}

.box__wall-loader-fail
{
    text-align: center;

    background: rgba(255, 214, 214, .5);
}

.box__wall-loader-ok .icon,
.box__wall-loader-fail .icon
{
    font-size: 60px;

    margin-top: 105px;
}

.box__wall-loader-ok .icon
{
    color: #3bcd42;
}

.box__wall-loader-fail .icon
{
    color: #f96f6f;
}

.box__wall-loader-fail-text
{
    font-size: 16px;

    color: #932929;
}
