.like-box
{
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;

    overflow: hidden;

    width: 685px;
    margin: -225px 0 0 -340px;

    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    background: #fff;
}

.like-box__title-text,
.like-box__close
{
    display: inline-block;
}

.like-box__close
{
    float: right;

    cursor: pointer;
    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
}

.like-box__close:hover
{
    opacity: .7;
}

.like-box-paranja
{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    opacity: 1;
    background: rgba(0, 0, 0, .7);
}

.like-box__inner
{
    font-size: 0; /* отступы у инлайн блоков */

    overflow-x: hidden;
    overflow-y: auto;

    width: 696px;
    height: 403px;
    padding: 42px 15px 0 10px;
}

.like-box_show_yes
{
    top: 50%;

    visibility: visible;

    opacity: 1;
}

.like-box__title
{
    position: fixed;
    z-index: 1;

    width: 663px;
    padding: 12px 11px;

    color: #000;
    background: rgba(255,255,255, .9);
}

.like-box__item
{
    display: inline-block;

    width: 135px;
    margin-bottom: 10px;

    text-align: center;
}

.like-box__avatar.link
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 125px;
    height: 125px;

    border: 0;
    background-color: #e6e6e6;
    background-size: 100%;
}

.like-box__avatar:hover .like-box__username
{
    bottom: 0;

    visibility: visible;

    opacity: 1;
}

.like-box__username
{
    font-size: 12px;
    font-weight: 300;

    position: absolute;
    bottom: -20px;

    visibility: hidden;
    overflow: hidden;

    width: 100%;
    padding: 6px 0 1px;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;
    color: rgba(250,250,255,.95);
    background: rgba(0, 0, 0, .2);
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .4) 70%);
    background:    -moz-linear-gradient(transparent, rgba(0, 0, 0, .4) 70%);
    background:         linear-gradient(transparent, rgba(0, 0, 0, .4) 70%);
}
