.user-list
{
    position: relative;

    overflow-x: hidden;
    overflow-y: auto;

    max-height: 925px;
}

.user-list_type_users
{
    margin-top: 49px;
}

.user-list__inner
{
    width: 960px;
    padding: 10px 0 0 10px;
}

.ua_os_mac .user-list__inner
{
    padding-left: 15px;
}

.user-list__message
{
    font-size: 15px;

    padding: 50px 0;

    text-align: center;
}

.user-list__fade
{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: .4s;
       -moz-transition: .4s;
            transition: .4s;

    opacity: 0;
    background: #fff;
}

.user-list__fade_visible
{
    visibility: visible;

    opacity: .8;
}
