.header
{
    position: fixed;
    z-index: 15;
    top: 0;

    display: none;

    width: 960px;
    height: 44px;

    white-space: nowrap;

    background: #222;
}

.header_visible
{
    display: table;
}

.header__left,
.header__mid,
.header__right
{
    display: table-cell;

    vertical-align: middle;
}

.header__mid
{
    width: 100%;
}

.header .input_type_header
{
    width: 160px;
    padding: 5px 10px;

    -webkit-transition: .2s;
       -moz-transition: .2s;
        -ms-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: #a8b2be;
    border: 0;
    border-radius: 3px;
    background: #393939;
}

.header .input_type_header:focus
{
    color: #fff;
}

.header_hide_yes
{
    display: none;
}

.header__invite
{
    font-size: 23px;

    position: relative;

    display: inline-block;

    margin-right: 8px;

    cursor: pointer;
    -webkit-transition: .15s;
       -moz-transition: .15s;
            transition: .15s;
    vertical-align: middle;

    color: #a8b2be;
}

.header__invite:hover
{
    color: #fff;
}

.header__search
{
    display: inline-block;

    margin-right: 8px;

    vertical-align: middle;
}
